html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
  animation: fade-out 0.3s ease-in-out forwards;
}

@keyframes turn-in-top {
  from {
    transform: translate(-50%, -150%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}
.turn-in-top {
  animation: turn-in-top 0.3s ease-in-out forwards;
}

@keyframes turn-out-top {
  from {
    transform: translate(-50%, 0%);
  }
  to {
    transform: translate(-50%, -150%);
  }
}
.turn-out-top {
  animation: turn-out-top 0.3s ease-in-out forwards;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f7fcfd;
}

a {
  text-decoration: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: bold;
  color: #32373e;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 1.6rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: #32373e;
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  color: #32373e;
  text-transform: uppercase;
}

.blue {
  font-size: 6rem;
  display: block;
  margin-bottom: 2.5rem;
  color: #00bfd8;
}
@media (max-width: 75em) {
  .blue {
    font-size: 5rem;
  }
}
@media (max-width: 37.5em) {
  .blue {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}

.u-mb-s {
  margin-bottom: 2.5rem;
}

.u-mb-m {
  margin-bottom: 7rem;
}

.u-tc {
  text-align: center;
}

.menu {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 5rem;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 75em) {
  .menu__nav {
    display: none;
  }
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  padding-right: 2.6rem;
}
.menu__link {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 8px;
  transition: all 0.3s ease-in;
}
.menu__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: white;
}
.menu__link:hover::after {
  width: 100%;
}
.menu__hamburger {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.menu__hamburger.open > span:first-child {
  transform: rotate(45deg);
}
.menu__hamburger.open > span:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.open > span:last-child {
  transform: rotate(-45deg);
}
.menu__hamburger span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #32373e;
  margin-bottom: 5px;
  border-radius: 20px;
  transform-origin: 3px 1px;
  transition: all 0.3s ease-in-out;
}
.menu__hamburger.open > span:first-child {
  transform: rotate(45deg);
}
.menu__hamburger.open > span:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.open > span:last-child {
  transform: rotate(-45deg);
}
@media (max-width: 75em) {
  .menu__hamburger {
    opacity: 1;
    visibility: visible;
  }
}
.menu--scroll {
  background-color: white;
  height: 8rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.menu--scroll .menu__link {
  color: #32373e;
}
.menu--scroll .menu__link:hover {
  color: #00bfd8;
}
.menu--scroll .menu__link::after {
  background-color: #00bfd8;
}
.menu--white {
  background-color: white;
}

.header {
  width: 100%;
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  background-position: left;
  height: 75vh;
}
@media (max-width: 56.25em) {
  .header {
    background-image: none;
  }
}
.header__banner {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 25vh;
}
@media (max-width: 56.25em) {
  .header__banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50vh;
  }
}
@media (max-width: 37.5em) {
  .header__banner {
    padding-top: 30vh;
  }
}
.header__title {
  flex: 0 0 50%;
}
.header__img {
  flex: 0 0 50%;
}
.header__img img {
  width: 100%;
}
@media (max-width: 56.25em) {
  .header__img {
    display: block;
    margin-top: 5rem;
    width: 70%;
  }
}
.header__sub {
  line-height: 1.4;
  margin: 4rem 0;
  color: #5d636b;
  font-size: 1.8rem;
}
@media (max-width: 37.5em) {
  .header__sub {
    margin: 2rem 0;
  }
}

.trusted {
  background-color: white;
  height: 25vh;
}
@media (max-width: 56.25em) {
  .trusted {
    margin-top: 30vh;
    margin-bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .trusted {
    margin-top: 5vh;
    height: 15vh;
  }
}
.trusted__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #32373e;
  margin-bottom: 6rem;
}
@media (max-width: 56.25em) {
  .trusted__title {
    margin-bottom: 4rem;
  }
}
@media (max-width: 37.5em) {
  .trusted__title {
    margin-bottom: 2rem;
  }
}
.trusted__img {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .trusted__img {
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media (max-width: 56.25em) {
  .trusted__img img {
    margin-bottom: 10px;
    width: 30%;
  }
}

.target {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12.5rem;
}
@media (max-width: 56.25em) {
  .target {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .target {
    margin-bottom: 5rem;
  }
}
.target__content {
  flex: 0 0 45%;
}
.target__item {
  line-height: 1.5;
  font-size: 1.7rem;
  color: #5d636b;
  margin-bottom: 10px;
}
.target__item i {
  font-size: 1.3rem;
  color: #00bfd8;
  display: inline-block;
  margin-right: 10px;
}
.target__img {
  flex: 0 0 50%;
}
@media (max-width: 56.25em) {
  .target__img {
    width: 100%;
    text-align: center;
  }
}
.target__img img {
  width: 100%;
  margin-bottom: 5rem;
}

.details {
  margin-top: 12.5rem;
  margin-bottom: 17.5rem;
}
.details__sub {
  width: 60%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.7rem;
  margin: 0 auto 7rem auto;
  color: #5d636b;
}
.details__cards {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .details__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
}
.details__card {
  flex: 30%;
  border: 1px solid #c4d8dc;
  padding: 5rem 3rem;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 56.25em) {
  .details__card {
    width: 100%;
  }
}
.details__card:not(:last-child) {
  margin-right: 5%;
}
@media (max-width: 56.25em) {
  .details__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}
.details__card:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}
.details__card-title {
  color: #32373e;
  font-size: 2rem;
  font-weight: bold;
  margin: 4rem 0 1rem 0;
}
.details__card-sub {
  color: #5d636b;
  font-size: 1.7rem;
  line-height: 1.5;
}
.details__card-img {
  width: 60%;
  transition: all 0.3s ease;
}

.roles {
  margin-bottom: 12.5rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 56.25em) {
  .roles {
    justify-content: center;
  }
}

.role {
  flex: 0 0 30%;
  text-align: center;
  margin-bottom: 5rem;
}
@media (max-width: 75em) {
  .role {
    flex: 0 0 45%;
  }
}
@media (max-width: 56.25em) {
  .role {
    flex: 0 0 55%;
  }
}
.role:not(:nth-child(3n+3)) {
  margin-right: 5%;
}
@media (max-width: 75em) {
  .role:not(:nth-child(3n+3)) {
    margin-right: 0;
  }
}
@media (max-width: 75em) {
  .role:not(:nth-child(2n+2)) {
    margin-right: 10%;
  }
}
@media (max-width: 56.25em) {
  .role:not(:nth-child(2n+2)) {
    margin-right: 0;
  }
}
.role img {
  width: 250px;
  height: 250px;
  border: 1px solid #c4d8dc;
  border-radius: 50%;
}
.role__title {
  font-size: 1.7rem;
  color: #5d636b;
  line-height: 1.5;
  width: 90%;
  margin: 2.5rem auto 0 auto;
}

.awards-section {
  margin-bottom: 17.5rem;
}

.awards-container {
  margin-bottom: 5rem;
  border: 1px solid #c4d8dc;
  padding: 7rem 3rem 10rem 3rem;
  border-radius: 20px;
}

.awards {
  display: flex;
  justify-content: space-between;
}

.award {
  flex: 0 0 22%;
  text-align: center;
}
.award__img {
  width: 80%;
  margin-bottom: 3rem;
}
.award__sub {
  color: #5d636b;
  font-size: 1.8rem;
  width: 70%;
  line-height: 1.2;
  margin: 0 auto;
}

.btn {
  padding: 20px 45px;
  border-radius: 50px;
  display: inline-block;
}
@media (max-width: 37.5em) {
  .btn {
    padding: 15rem 35;
  }
}

.btn--blue {
  color: white;
  background-color: #00bfd8;
  border: 1px solid #00bfd8;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
}
@media (max-width: 37.5em) {
  .btn--blue {
    font-size: 1.3rem;
  }
}
.btn--blue:hover {
  background-color: white;
  border: 1px solid #00bfd8;
  color: #00bfd8;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-mobile {
  position: fixed;
  width: 80%;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
  transform: translate(-50%, -150%);
}
.nav-mobile__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-mobile__item {
  padding: 15px 0;
}
.nav-mobile__link {
  color: #32373e;
}

/*# sourceMappingURL=style.css.map */
