.awards-section {
  margin-bottom: 17.5rem;
}
.awards-container {
  margin-bottom: 5rem;
  border: 1px solid $color-gray-light-2;
  padding: 7rem 3rem 10rem 3rem;
  border-radius: 20px;
}

.awards {
  display: flex;
  justify-content: space-between;
}
.award {
  flex: 0 0 22%;
  text-align: center;

  &__img {
    width: 80%;
    margin-bottom: 3rem;
  }

  &__sub {
    color: $color-gray-dark;
    font-size: 1.8rem;
    width: 70%;
    line-height: 1.2;
    margin: 0 auto;
  }
}
