.details {
  margin-bottom: 17.5rem;
  &__sub {
    width: 60%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.7rem;
    margin: 0 auto 7rem auto;
    color: $color-gray-dark;
  }

  &__cards {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  &__card {
    flex: 30%;
    border: 1px solid $color-gray-light-2;
    padding: 5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba($color: #000000, $alpha: 0.1);
    transition: all 0.3s ease-in-out;
    &:not(:last-child) {
      margin-right: 5%;
    }
    &:hover {
      transform: translateY(-10px) scale(1.1);
      box-shadow: 0 20px 20px rgba($color: #000000, $alpha: 0.15);
    }

    &-title {
      color: $color-heading;
      font-size: 2rem;
      font-weight: bold;
      margin: 4rem 0 1rem 0;
    }
    &-sub {
      color: $color-gray-dark;
      font-size: 1.7rem;
      line-height: 1.5;
    }
    &-img {
      width: 60%;
      transition: all 0.3s ease;
    }
  }
}
