.header {
  width: 100%;
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  background-position: left;
  height: 75vh;
  @include respond(tab-port) {
    background-image: none;
  }

  &__banner {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-between;
    align-items: center;
    padding-top: 25vh;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 50vh;
    }

    @include respond(phone) {
      padding-top: 30vh;
    }
  }

  &__title {
    flex: 0 0 50%;
  }

  &__img {
    flex: 0 0 50%;
    img {
      width: 100%;
    }

    @include respond(tab-port) {
      display: block;
      margin-top: 5rem;
      width: 70%;
    }
  }

  &__sub {
    line-height: 1.4;
    margin: 4rem 0;
    color: $color-gray-dark;
    font-size: 1.8rem;

    @include respond(phone) {
      margin: 2rem 0;
    }
  }
}
