.roles {
  margin-bottom: 12.5rem;
  display: flex;
  flex-wrap: wrap;
}

.role {
  flex: 0 0 30%;
  text-align: center;
  margin-bottom: 5rem;
  &:not(:nth-child(3n + 3)) {
    margin-right: 5%;
  }

  img {
    width: 250px;
    height: 250px;
    border: 1px solid $color-gray-light-2;
    border-radius: 50%;
  }

  &__title {
    font-size: 1.7rem;
    color: $color-gray-dark;
    line-height: 1.5;
    width: 90%;
    margin: 2.5rem auto 0 auto;
  }
}
