.roles {
  margin-bottom: 12.5rem;
  display: flex;
  flex-wrap: wrap;

  @include respond(tab-port) {
    justify-content: center;
  }
}

.role {
  flex: 0 0 30%;
  text-align: center;
  margin-bottom: 5rem;
  @include respond(tab-land) {
    flex: 0 0 45%;
  }
  @include respond(tab-port) {
    flex: 0 0 55%;
  }

  &:not(:nth-child(3n + 3)) {
    margin-right: 5%;
    @include respond(tab-land) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(2n + 2)) {
    @include respond(tab-land) {
      margin-right: 10%;
    }

    @include respond(tab-port) {
      margin-right: 0;
    }
  }

  img {
    width: 250px;
    height: 250px;
    border: 1px solid $color-gray-light-2;
    border-radius: 50%;
  }

  &__title {
    font-size: 1.7rem;
    color: $color-gray-dark;
    line-height: 1.5;
    width: 90%;
    margin: 2.5rem auto 0 auto;
  }
}
