.target {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12.5rem;
  @include respond(tab-port) {
    flex-direction: column;
    justify-content: center;
  }
  @include respond(phone) {
    margin-bottom: 5rem;
  }

  &__content {
    flex: 0 0 45%;
  }
  &__item {
    line-height: 1.5;
    font-size: 1.7rem;
    color: $color-gray-dark;
    margin-bottom: 10px;

    i {
      font-size: 1.3rem;
      color: $color-primary;
      display: inline-block;
      margin-right: 10px;
    }
  }
  &__img {
    flex: 0 0 50%;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
      margin-bottom: 5rem;
    }
  }
}
