.trusted {
  padding-bottom: 12.5rem;
  background-color: white;

  @include respond(phone) {
  }
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: $color-heading;
    margin-bottom: 6rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__img {
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-wrap: wrap;
      margin: 0 auto;
    }

    img {
      @include respond(tab-port) {
        margin-bottom: 10px;
        width: 30%;
      }
    }
  }
}
