.btn {
  padding: 20px 45px;
  border-radius: 50px;
  display: inline-block;
  @include respond(phone) {
    padding: 15rem 35;
  }
}

.btn--blue {
  color: white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  @include respond(phone) {
    font-size: 1.3rem;
  }

  &:hover {
    background-color: white;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
